.container {
    border: 1px solid deeppink;
  }
  .col {
    display: inline-block;
    width: 300px;
    vertical-align: top;

  }
  .container--1 {
    text-align: justify;
    height: 100px;
    width: 200px;
    overflow:scroll ;
    /* Añadir propiedad overflow */
  }
  .container--2 {
      text-align: center;
    height: 200px;
    overflow:scroll ;
    /* Añadir propiedad overflow */
  }