html {
    font-size: 755,9px;
    /*16px*/
    /*50x50 = 188,9px*/
    /*200x200 = 755,9px*/
  }
  .smiley {
    width: 16.25rem;
    height: 16.25rem;
    line-height: 16.25rem;
    text-align: center;
    font-family: 'courier new';
    font-weight: bold;
    font-size: 3.125rem;
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }